@import "./cotacoes.css";
@import "./conversor.css";
@import "./cripto.css";
@import "./sidebar.css";
@import "./chart.css";
@import "./suporte.css";

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  box-sizing: border-box;
}

body {  
  height: 100vh;
  background-image: url(../assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
}

#dashboard {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  background: rgba(49, 49, 49, 0.548);
  max-width: 1300px;
  width: 100%;
  margin: 1rem;
  border-radius: 0.7rem;
  border: .1rem solid #bbbdbe15;
  padding: .7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main{
  display: flex;
  flex-direction: column;
  gap: .6rem 0;
  padding: 0 .4rem 0 1.3rem;
  height: 100%;
}

section {
  height: 100%;
  display: flex;
  gap: 0 .8rem;
}


@media (max-width: 1236px) {
  #dashboard {
    min-width: 54rem;
    width: 54rem;
    height: 100%;
    max-height: 40.6rem;
  }
  main {
    gap: .5rem;
    padding: 4.3rem 0 .5rem 0;
    height: 100%;
  }
   section {
    gap: .5rem .3rem;
  }
}


