#formSuport {
  display: none;
  position: absolute;
  right: 25rem;
}

.h6-suporte {
  text-align: center;
  background:  rgba(6, 46, 37, 0.301);
  box-shadow:  .5rem .5rem .5rem #0000004f;
  padding: .5rem;
  border: 1px solid transparent;
  border-radius: .5rem;
  color: white;
  font-size: 1rem;
  margin-bottom: 2rem;
}

form {
  width: 19rem;
  height: 24rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background:   rgba(6, 46, 37, 0.301);
  box-shadow:  .5rem .5rem .5rem rgba(0, 0, 0, 0.274);
  padding: 1rem;
  gap: .5rem;
  border-radius: .5rem;
}

form label {
  color: white;
  font-size: bold;
}

form input {
  width: 90%;
  padding: .4rem;
  border: 1px solid transparent;
  border-radius: .4rem;
  margin-bottom: .5rem;
  background-color:  rgba(154, 158, 158, 0.144);
  color: white;
}

form textarea {
  outline: none;
  width: 90%;
  max-width: 100%;
  padding: 1rem;
  background-color: rgba(154, 158, 158, 0.144);
  border-radius: .4rem;
  color: white;
}
form textarea::placeholder {
  color: white;
  font-size: .67rem;
}


form button {
  cursor: pointer;
  padding: .5rem;
  width: 90%;
  background-color: #c1c5c32a;
  border: .12rem solid #d6d7d85e;
  color: white;
  font-size: bold;
  border-radius: .4rem;
  margin: .5rem 0;
}
form button:hover{
  border: .12rem solid #598f6998;
}

.p-suporte {
  color: #dadadd;
  margin-top: 1rem;
  font-size: .8rem;
  text-align: center;
}